
.header
{
    background-color: #D6F5F0;
    width: 100%;
    height: 44px;
}

.p-3
{
  font-size: 12px;
  font-family:Helvetica;
}

.p-3 span
{
padding-right: 6px;
}



.promo-banner
{
  background-image: url(images/logitech-new-year-mx-keys-mini-mx-brio-mx-anywhere-3s-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-Ul
{
    direction: flex;
    list-style-type: none;
}

.navbar
{
    color: #1B1B1B;
    font: 12px Brown Helvetica Neue;
}

.navbar-logo
{
    width: 765px;
    height: 40px;
    align-items: center;
    font: 13px brown;
    padding: 14px 0px;
}

a:link{
     text-decoration: none;
     color: black;
     font:13px;
}
a:hover
{
    text-decoration: underline;
}

.navbar-brand {
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 1px;
    }
    .nav-link {
      font-weight: 500;
      color: #000 !important;
      margin: 0 10px;
    }
    .search-box {
      background: #f1f1f1;
      border-radius: 25px;
      padding: 6px 12px;
      width: 150px;
      height: 30px;
    }

    .nav-link a:hover
    {
        text-decoration: underline green;
    }
    .icon-btn {
      font-size: 18px;
      margin-left: 18px;
      cursor: pointer;
    }

  .category-icon-box img
  {
    width: 150px;
    height: 150px;
    padding: 0 0 0 20px;
    
  }

  .category-icon-box
  {
    align-items: center;
  }

.col-md-4 img
{ position: relative;
  width: 350px;
  
}

.col-md-4 h3{
  position: absolute;
  padding: 350px 0 0 40px;
}